<a href="https://colab.research.google.com/github/Ladouce07/Introduction-to-Data-Science/blob/main/Notebook1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
var1=6
var2="Hi Python!"
var3=True
var4=8.2
var5=[1,2,3,4,5,6]
type(var1)

int

In [7]:
type(var2)

str

In [8]:
type(var3)

bool

In [9]:
type(var4)

float

In [10]:
type(var5)

list

In [13]:
a=1
b=-1
c=8
d=-23
list1=[a,b,c,d]
print(list1)

[1, -1, 8, -23]

In [14]:
dico1={
    "val1":6,
    "val2":7,
    "val3":2,
}
print(type(dico1))
print(dico1)

<class 'dict'>
{'val1': 6, 'val2': 7, 'val3': 2}

In [2]:
tuple1=(10.8,-63.57)
print(tuple1, type(tuple1))

(10.8, -63.57) <class 'tuple'>

In [5]:
import pandas as pd
import numpy as np

speciality=np.array([["DataScience", 6], ["ForschungMethoden", 3], ["DatenAnalyse", 6], ["TechnishesEnglisch", 4]])
columns1=['Courses', 'Leistungspunkte']
df1=pd.DataFrame(data=speciality, columns=columns1)
df1

              Courses Leistungspunkte
0         DataScience               6
1   ForschungMethoden               3
2        DatenAnalyse               6
3  TechnishesEnglisch               4

In [8]:
brands=pd.Series(['Toyota','Volswagen','Discovery','Range Rover','BMW'])
years=pd.Series([85,85,38,53,107])
df2=pd.DataFrame({'Name of Brands':brands, 'Number of Years':years})
df2

  Name of Brands  Number of Years
0         Toyota               85
1      Volswagen               85
2      Discovery               38
3    Range Rover               53
4            BMW              107

In [13]:
def separe(df):
  for index, row in df.iterrows():
    print(row)
    print("-------------")

In [14]:
separe(df2)

Name of Brands     Toyota
Number of Years        85
Name: 0, dtype: object
-------------
Name of Brands     Volswagen
Number of Years           85
Name: 1, dtype: object
-------------
Name of Brands     Discovery
Number of Years           38
Name: 2, dtype: object
-------------
Name of Brands     Range Rover
Number of Years             53
Name: 3, dtype: object
-------------
Name of Brands     BMW
Number of Years    107
Name: 4, dtype: object
-------------

In [20]:
from numpy import *
tab1=array([1,2,3,4,5])
print(tab1)

[1 2 3 4 5]

In [21]:
def each(tab):
  for element in tab:
    print(element)

In [22]:
each(tab1)

1
2
3
4
5

In [23]:
from pandas.compat import numpy
class Account:

  def __init__(self, name, surname, number, amount):
    self.name=name
    self.surname=surname
    self.number=number
    self.amount=amount

In [25]:
def add(self, n):
  self.amount=self.amount + n